.main {
  height: 90vh;
  background: url("../../../static/bg-18.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 900px;
  //   background-attachment: ;
  .read {
    font-family: "Playfair Display", serif;
  }
  &__textbox {
    margin-top: 80px;
    max-width: 450px;
    .featured {
      font-size: 90px;
      line-height: 1em;
      font-weight: 600;
      text-transform: uppercase;
    }
    .book {
      font-size: 90px;
      line-height: 1em;
      font-weight: 600;
      text-transform: uppercase;
    }
    p {
      font-size: 20px;
      line-height: 1.4em;
    }
  }
}
