//    xs: 280,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// heyoo

//xtra-small 280
@media only screen and (min-width: $xs) {
  body {
    padding-top: 75px;
  }
  //navigation
  .navigation {
    .brand {
      font-size: 15px;
    }
  }
  .navbrand {
    padding: 0;
    margin: 0;
  }
  //Banner
  .main {
    background-position: top;
    background-size: 280px;
    &__textbox {
      text-align: center;
      .featured {
        font-size: 30px;
      }
      .book {
        font-size: 30px;
      }
      p {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
  //HomeAuthor
  .homeauth {
    text-align: center;
    padding-top: 35px;
    img.homeauth__authorimg {
      height: 117px;
    }
    h1.authorName {
      margin-top: 15px;
    }
    p.authordesc {
      font-size: 13px;
      line-height: 19px;
    }
    .blockquote {
      font-size: 1.1rem;
    }
  }
  //About the book
  .Authorbook {
    text-align: center;
    padding-top: 200px;
  }
  .store.container-fluid {
    text-align: center;
  }
  .Authorbook__Samplebook {
    margin-top: -5px;
  }
  .Authorbook .samplebook {
    width: 240px;
    height: 160px;
  }
  h1.Aboutbookheader {
    font-size: 30px;
    margin-top: 20px;
  }

  .Authorbook .Aboutbook {
    font-size: 15px;
    line-height: 19px;
  }
  .store.container-fluid h2.headings {
    margin: 3px;
    font-size: 15px;
  }
  .store.container-fluid img.logos {
    height: 19px;
    margin: 10px;
  }

  //Contact
  .contactus.container-fluid.bg-light .form.container-fluid {
    margin-top: -20px;
  }
  .contactus.container-fluid.bg-light {
    height: 184vh;
    padding-top: 100px;
    margin-top: 124px;
  }
  .contactus.container-fluid.bg-light .social.container-fluid.col-lg-6.col-12 {
    margin-top: 70px;
  }
  .contactus.container-fluid.bg-light
    .social.container-fluid.col-lg-6.col-12
    .phone {
    margin: 0;
  }
  .contactus.container-fluid.bg-light
    .social.container-fluid.col-lg-6.col-12
    .at {
    margin: 0;
  }
  .contactus.container-fluid.bg-light
    .social.container-fluid.col-lg-6.col-12
    .location {
    margin: 0;
  }

  //featured
  .featureds {
    &__companylogo {
      display: flex;
      justify-content: center;
      margin-top: 36px;
      .amazonlogo {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
      }
      .logo {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
      }
      .imagelogo {
        height: 60px;
      }
      .stratt {
        height: 90px;
      }
    }
  }
  //footer
  .footer {
    &__description {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .nancy {
        font-size: 15px;
      }
    }

    &__navfooter {
      padding: 0;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    &__connected {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
    }
    &__companylogo {
      display: flex;
      justify-content: center;
      .companyname {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    &__policies {
      font-size: 12px;
      padding-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
    }
    &__icons {
      font-size: 13px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .footer__description .nancy {
    margin-top: 0;
  }
}

@media only screen and (min-width: 350px) and (max-width: 575px) {
  .homeauth {
    height: 158vh;
  }
  .homeauth img.homeauth__authorimg {
    height: 170px;
  }
  .main__textbox p {
    font-size: 18px;
  }
  .homeauth p.authordesc {
    font-size: 18px;
    line-height: 27px;
  }
  .store.container-fluid img.logos {
    height: 25px;
  }
  .store.container-fluid h2.headings {
    font-size: 25px;
    margin: 15px;
  }
  .Authorbook .Aboutbook {
    font-size: 18px;
    line-height: 27px;
  }
  .contactus.container-fluid.bg-light {
    margin-top: 206px;
  }
}

// Small 576
@media only screen and (min-width: $sm) {
  //navigation
  .navigation {
    .brand {
      font-size: 15px;
    }
  }
  //main
  .main {
    background-position: top;
    background-size: 392px;
    &__textbox {
      text-align: center;
      .featured {
        font-size: 40px;
      }
      .book {
        font-size: 40px;
      }
      p {
        font-size: 18px;
      }
    }
  }

  //HomeAuthor
  .homeauth {
    text-align: center;
    img.homeauth__authorimg {
      height: 190px;
    }
    .homeauth__coldesc {
      max-width: none;
    }
  }
  .homeauth p.authordesc {
    font-size: 15px;
    line-height: 23px;
  }

  //About the book
  .Authorbook__Bookdesc.col-md-12 {
    display: flex;
    justify-content: center;
  }
  .store.container-fluid h2.headings {
    font-size: 25px;
  }
  .Authorbook .samplebook {
    width: 400px;
    height: 230px;
    padding-left: 50px;
  }
  h1.Aboutbookheader {
    font-size: 30px;
  }
  .Authorbook .Aboutbook {
    font-size: 17px;
    line-height: 26px;
  }
  .store.container-fluid {
    text-align: center;
  }
  .store.container-fluid img.logos {
    height: 25px;
  }
  //footer
  .footer {
    &__description {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .nancy {
        font-size: 20px;
      }
    }

    &__navfooter {
      padding: 0;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    &__connected {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
    }

    &__companylogo {
      display: flex;
      justify-content: center;
      .companyname {
        font-size: 1.25rem;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    &__policies {
      font-size: 15px;
      padding-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
    }
    &__icons {
      font-size: 0.9375rem;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
    }
  }
}
@media only screen and (min-height: 667px) {
  .contactus.container-fluid.bg-light {
    height: 160vh;
  }
}
@media only screen and (min-height: 720px) {
  .homeauth {
    height: 101vh;
  }
  .contactus.container-fluid.bg-light {
    height: 150vh;
  }
}
@media only screen and (min-height: 720px) {
  .homeauth {
    height: 116vh;
  }
}
//MD 768
@media only screen and (min-width: $md) {
  //navigation
  .navigation {
    .brand {
      font-size: 15px;
    }
  }
  //main
  .main {
    background-position: right;
    background-size: 380px;
    &__textbox {
      max-width: 435px;
    }
  }

  //homeauth
  .homeauth {
    &__colauthor {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img.homeauth__authorimg {
      height: 205px;
    }
  }

  //About the book

  .Authorbook .samplebook {
    height: 306px;
    width: 360px;
    margin-top: 60px;
    padding-left: 0;
  }
  h1.Aboutbookheader {
    font-size: 30px;
  }
  .Authorbook .Aboutbook {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .homeauth p.authordesc {
    font-size: 15px;
    line-height: 22px;
  }
  .store.container-fluid h2.headings {
    font-size: 25px;
  }
  .store.container-fluid img.logos {
    height: 25px;
  }

  //Contact
  .contactus.container-fluid.bg-light {
    height: 105vh;
    padding-top: 70px;
  }

  //footer
  .footer {
    &__description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .nancy {
        font-size: 20px;
      }
    }

    &__navfooter {
      padding: 0;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    &__connected {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
    }
  }
}

@media only screen and (min-height: 844px) {
  .homeauth {
    height: 100vh;
  }
  .Authorbook {
    height: 75vh;
  }
  .contactus.container-fluid.bg-light {
    height: 125vh;
  }
}
@media only screen and (min-height: 896px) {
  .homeauth {
    height: 90vh;
  }
  .Authorbook {
    height: 68vh;
  }
  .contactus.container-fluid.bg-light {
    height: 116vh;
  }
}

@media only screen and (min-width: 795px) and (max-width: 991px) {
  .main {
    background-size: 500px;
    background-position: right;
  }
}

//LG 992
@media only screen and (min-width: $lg) {
  //navigation
  .navigation {
    .brand {
      font-size: 20px;
    }
    a.links.nav-link {
      font-size: 18px;
    }
  }
  //main
  .main {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 590px;

    &__textbox {
      margin-top: 60px;
      max-width: 450px;
      text-align: start;
      .featured {
        font-size: 60px;
      }
      .book {
        font-size: 60px;
      }
      p {
        font-size: 20px;
        line-height: 1.4em;
      }
    }
  }
  //homeauth
  .homeauth {
    text-align: start;
    img.homeauth__authorimg {
      height: 270px;
    }
  }
  .homeauth p.authordesc {
    font-size: 18px;
    line-height: 25px;
  }
  //About the book
  .Authorbook__Samplebook {
    text-align: start;
  }
  .store.container-fluid {
    text-align: end;
  }
  .Authorbook .samplebook {
    height: 358px;
    width: 470px;
    margin-top: 20px;
  }
  h1.Aboutbookheader {
    font-size: 25px;
  }
  .Authorbook .Aboutbook {
    font-size: 20px;
    line-height: 32px;
  }
  .store.container-fluid h2.headings {
    margin: 6px;
    font-size: 25px;
  }
  .store.container-fluid img.logos {
    height: 22px;
  }
  //footer
  .footer {
    &__description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .nancy {
        font-size: 20px;
      }
    }

    &__navfooter {
      align-items: flex-start;
      padding-left: 90px;
    }

    &__connected {
      display: block;
    }

    &__companylogo {
      .companyname {
        font-size: 15px;
      }
    }
  }
}
@media only screen and (min-height: 1024px) {
  // .homeauth {
  //   height: 60vh;
  // }
  .Authorbook {
    height: 60vh;
  }
  .contactus.container-fluid.bg-light {
    height: 70vh;
  }
}
@media only screen and (min-height: 1180px) {
  .homeauth {
    height: 55vh;
  }
  .Authorbook {
    height: 50vh;
  }
  .contactus.container-fluid.bg-light {
    height: 60vh;
  }
}

//xl 1200
@media only screen and (min-width: $xl) {
  //navigation
  .navigation {
    .brand {
      font-size: 20px;
    }
  }
  //banner
  .main {
    // height: 90vh;
    // background: url("../../../static/bg-18.png");
    // background-repeat: no-repeat;
    // background-position: 121%;
    // background-size: 900px;
    //   background-attachment: ;

    &__textbox {
      margin-top: 60px;
      max-width: 500px;
      text-align: start;
      .featured {
        font-size: 70px;
        line-height: 1em;
        font-weight: 600;
        text-transform: uppercase;
      }
      .book {
        font-size: 70px;
        line-height: 1em;
        font-weight: 600;
        text-transform: uppercase;
      }
      p {
        font-size: 20px;
        line-height: 1.4em;
      }
    }
  }
  //featured
  .featureds {
    &__companylogo {
      .imagelogo {
        height: 85px;
      }
      .stratt {
        height: 98px;
      }
    }
  }

  //About the book

  h1.Aboutbookheader {
    font-size: 2.5rem;
  }
  .Authorbook .Aboutbook {
    font-size: 23px;
    line-height: 40px;
  }
  .store.container-fluid h2.headings {
    margin: 10px;
    font-size: 25px;
  }
  .store.container-fluid img.logos {
    height: 29px;
  }
  //Homeauth

  .homeauth p.authordesc {
    font-size: 17px;
    line-height: 30px;
  }
  //footer
  .footer {
    &__companylogo {
      display: flex;
      justify-content: start;
    }
    &__policies {
      justify-content: start;
    }
  }
}
@media only screen and (min-height: 1368px) {
  .homeauth {
    height: 50vh;
  }
  .Authorbook {
    height: 45vh;
  }
  .contactus.container-fluid.bg-light {
    height: 70vh;
    padding-top: 0;
  }
}
