.navigation {
  height: 75px;
}
.navbrand {
  padding-left: 12px;
}
.brand {
  font-size: 20px;
}
a.links.nav-link {
  margin-right: 10px;
  font-size: 20px;
}
a.logos.nav-link {
  margin-right: 10px;
}
a.offlink {
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
}
